include /_mixins
doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet')
    +stylesheet_link_tag('application')
    +javascript_include_tag('vendor/all')
    +javascript_include_tag('handlebars_templates')
  body
    header
      #cart
        label(for="cart_toggle") 2 items
        input#cart_toggle(type="checkbox")
        #items
          ul
            li
              a(href="#") Remove
              Album Name x 1
              small $19.00
            li
              a(href="#") Remove
              Really Long Album Name x 2
              small $19.00
          p $50.00

    main
      block content
    +javascript_include_tag('application')
    +javascript_include_tag('models/album')
    +javascript_include_tag('collections/albums')
    +javascript_include_tag('views/album', 'views/new_album', 'views/index')
    script(type="text/javascript").
      App.albums = new Albums(!{JSON.stringify(albums)});
    +javascript_include_tag('router')
    block scripts
