<form action="/login" method="get">
  <h1>Log In</h1>
  <fieldset>
    <dl>
      <dt>
        <label>Username</label>
      </dt>
      <dd>
        <input type="text" name="username" required/>
      </dd>
      <dt>
        <label>Password</label>
      </dt>
      <dd>
        <input type="password" name="password" required/>
      </dd>
    </dl>
  </fieldset>
  <fieldset class="actions">
    <input type="submit" value="Log In" />
    <a class="button" href="/">Back</a>
  </fieldset>
</form>
