<form action="/signup" method="post">
  <h1>Sign Up</h1>
  <fieldset>
    <dl>
      <dt>
        <label>Create username</label>
      </dt>
      <dd>
        <input type="text" name="username" required/>
      </dd>
      <dt>
        <label>Create password</label>
      </dt>
      <dd>
        <input type="password" name="password" required/>
      </dd>
    </dl>
  </fieldset>
  <fieldset class="actions">
    <input type="submit" value="Sign Up" />
    <a class="button" href="/">Back</a>
  </fieldset>
</form>
