@import 'whitespace-reset.css'
@import 'mixins'
body
  font: normal 16px 'Lato', sans-serif
  color: colors.text
main
  clear: both
  width: 800px
  padding: 25px 40px
  margin: 0 auto
  background: colors.main
h1
  padding: 0 0 25px 0
  font-size: 2em

form
  dt
    padding: 0 0 5px 0
  dd
    padding: 0 0 20px 0
  input[type="text"],
  input[type="date"],
  input[type="url"],
  input[type="password"]
    width: 100%
    height: 30px
    padding: 5px 8px
    border: 1px solid colors.border
    border-radius: 6px
    box-sizing: border-box

#index
  ul
    padding: 0 0 40px 0
    margin: 0 0 0 -20px
    li
      display: inline-block
      width: 20%
      padding: 0 0 25px 20px
      box-sizing: border-box
      vertical-align: top
      img
        display: block
        width: 100%
        margin: 0 0 10px 0
      h2, h3, p
        padding: 0 0 5px 0
      h2
        font-size: 1.5em
      h3
        font-size: 1.25em

a.button, input[type='submit']
  button()

input[type='submit']
  + a.button
    margin-left: 10px

header
  width: 800px
  padding: 25px 40px
  margin: 0 auto

#cart, #user_options
  position: relative
  float: right
  width: 50%
  padding: 15px 0 0 0
  text-align: right
  label, p, a
    padding: 2px 3px
    cursor: pointer
  label, a
    display: inline-block
  input
    display: none
    &:checked
      + #items, + #options
        display: block
  #items, #options
    display: none
    position: absolute
    top: 100%
    right: 0
    z-index: 1
    padding: 5px 10px
    color: colors.button.text
    background: colors.button.bg
    li
      padding: 5px 0
      text-align: left
      font-size: 12px
    small
      float: right
      margin: 0 0 0 10px
      font-size: 11px

  #items
    a
      float: left
      position: relative
      width: 12px
      height: 12px
      margin: 0 5px 0 0
      overflow: hidden
      text-indent: 8685px
      transform: rotate(45deg)
      &:before,
      &:after
        position: absolute
        content: ""
        background: colors.delete
      &:before
        top: 0
        bottom: 0
        left: 50%;
        margin-left: -1px
        width: 2px
      &:after
        top: 50%
        right: 0
        left: 0
        height: 2px
        margin-top: -1px
      &.button
        float: right
        margin: 5px 0
        padding: 6px
        text-indent: 0
        width: auto
        height: auto
        transform: none
        color: colors.button.bg
        background: colors.button.text
        &:before, &:after
          background: transparent

#user_options
  width: 15%
  a
    text-decoration: none
  #options
    a
      color: colors.button.text

p.success, p.error, p.neutral
  padding: 20px
  margin-bottom: 10px
  display: none
p.error
  color: colors.delete
  background: colors.error.bg
p.success
  color: colors.success.text
  background: colors.success.bg
p.neutral
  color: colors.neutral.text
  background: colors.neutral.bg
